<% provide(:title, "home") %>
<div class = "center jumbotron">
  <h1> Welcome to Green Hacks </h1>
    <h2> 
    We are a group of eco-hackers. We stand for the protection of nature and sustainability of our planet. We attack those who want to fuck it up. Be prepared.
    </h2>
<%= link_to "Let's fight!", '#', class: "btn btn-lg btn-danger" %>
</div>