<footer class="footer">
  <small>
    <a href="http://editions-hache.com/essais/pdf/kaczynski2.pdf" target = "_blank"> Manifesto </a>
    by <a href="https://boece.tumblr.com/" target = "_blank"> Boece </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://partage-le.com/" target = "_blank">News</a></li>
    </ul>
  </nav>
</footer>